body {
    -webkit-font-smoothing: subpixel-antialiased;
    background: #f5eddd;
    color: #424242;
    width: 1250px;
    margin: 24px;
}

.hidden {
    display: none;
}

.Message {
    position: fixed;
    background-color: #f5eddd;
    border: 4px solid #424242;
    padding: 65px;
    box-shadow: -8px 8px;
    top: 50%;
    left: 35%;
    font-family: 'Inconsolata';
    font-size: 24px;
}

.Header {
    font-family: 'Inconsolata';
    display: flex;
    justify-content: space-between;
}

.instructions {
    width: 664px;
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
}

.divider {
    margin: 24px 0px 16px 0px;
}

.Gameboard {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Score {
    width: 72px;
    position: fixed;
    top: 16px;
    right: 0px;
    font-family: 'Anton', 'Helvetica Neue Condensed', Arial, Helvetica, sans-serif;
    font-size: 86px;
    text-align: center;
    background-color: #f5eddd;
    border-top: 4px solid #424242;
    border-bottom: 4px solid #424242;
    border-left: 4px solid #424242;
    padding: 0px 20px 0px 24px;
    box-sizing: content-box;
}

.Score .label {
    font-family: 'Inconsolata';
    font-size: 11px;
    text-transform: uppercase;
}

.Score span {
    height: 8px;
    width: 11px;
    display: block;
    transform: rotate(90deg);
    background-repeat: no-repeat;
}

.Score #leftarrow {
    background-image: url("./images/arrowleft.svg");
    position: relative;
    left: 32px;
    bottom: 16px;
}

.Score #rightarrow {
    background-image: url("./images/arrowright.svg");
    background-position-x: right;
    position: relative;
    left: 32px;
    top: 16px;
}

.Card {
    box-sizing: border-box;
    margin-bottom: 16px;
}

.Card img:hover {
    box-shadow: -4px 4px 0px 0px;
    transform: translate(3px, -3px);
}

.Card img:active {
    box-shadow: none;
    transform: translate(0px, 0px);
}