body {
    -webkit-font-smoothing: subpixel-antialiased;
    background: #f5eddd;
    color: #424242;
}

.Gameboard {
    display: flex;
    flex-wrap: wrap;
}

.instructions {
    font-family: 'Inconsolata';
}